
<div class='container'>
  <h1> <%=@question.title%> </h1>
  <p> <%=@question.content%> </p>
  <div class="question_subtext">
    <p>  Posted by <a class = "author_name" href="/users/<%=@question.user.id%>"><%=@question.user.full_name%></a> at <%=@question.created_at %></p>
  </div>
  <div class="comments_on_questions">
    <% if logged_in? %>
      <form class='new_comment_button inline_block'  action="/questions/<%=@question.id %>/comments/new" method="get">
        <input type="submit" name="new_comment" value="New Comment">
      </form>

      <form class="inline_block" action="/questions/<%=@question.id%>/answers/new" method="post">
        <button class="new_answer" type="button"> Post Answer</button>
      </form>
    <% end %>

    <div class="new_comment_form"></div>

    <div class="comments_container">
      <h4 id='comments_h'>Comments</h4>
      <% @question.comments.each do |comment| %>
        <%= erb :'_comments', layout: false, locals: { comment: comment } %>
     <% end %>
   </div>
 </div>

 <div class="answers_to_questions">
   <h3 id="answer_h">Answers</h3>
   <div id="new_form_container"></div>
   <div class="answer_append">
      <% @question.answers.each do |answer| %>
        <%= erb :'/answers/index', layout: false, locals: { answer: answer }%>
      <%end %>
   </div>
 </div>
</div>
